# 百度翻译 API
VITE_BD_APPID=your_appid_here
VITE_BD_KEY=your_key_here

# 有道翻译 API
VITE_YD_APPKEY=your_appkey_here
VITE_YD_SECRET=your_secret_here

# 腾讯翻译 API
VITE_TX_SECRET_ID=your_secret_id_here
VITE_TX_SECRET_KEY=your_secret_key_here
